---
import GridItem from '../base/GridItem.astro';
import { basics } from '../../data/resume.json';
const { class: className, ...rest } = Astro.props;
const { name } = basics;
---

<h1 class:list={['section-name', className]} {...rest}>{name}</h1>

<style>
    .section-name {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>
