---
import GridItem from '../base/GridItem.astro';
import Carousel from '../ui/Carousel.astro';
import { projects } from '../../data/resume.json';

const { class: className, name, ...rest } = Astro.props;
---

<GridItem class:list={['section-projects-carousel', className]} {...rest}>
    <h2>Proyectos</h2>
    <Carousel />
</GridItem>

<style>
    /* Usamos tus estilos originales para el carousel-container como base */
    .section-projects-carousel {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-bottom: 18px;
    }
</style>
