---
import GridItem from '../base/GridItem.astro';
const { class: className, ...rest } = Astro.props;
---

<GridItem class:list={['section-resource', className]} {...rest}>
    <h2>Recursos</h2>
    <ul>
        <li>
            <button>
                CV
                <a href="/cv.pdf"> Descargar </a>
            </button>
        </li>
        <li>
            <button>
                QR
                <a href="/qr.png"> Descargar </a>
            </button>
        </li>
        <li>
            Compartir
            <a
                href="https://twitter.com/intent/tweet?text=Mi%20CV%20en%20PDF%20y%20QR%20para%20compartir%20con%20tu%20familia%20y%20amigos%20https%3A%2F%2Fgithub.com%2Fjosue-noriega%2Fportfolio%2Fblob%2Fmain%2Fsrc%2Fcontent%2Fcv.pdf%0A%0A%23CV%20%23PDF%20%23QR%20%23Compartir%20%23Portfolio%20%40josuenoriega%20%40umbrella%20%40umbrelladev%20%40umbrellatech%20%40umbrellaio"
            >
                Twitter
            </a>
        </li>
    </ul>
</GridItem>
