---
const { class: className, ...rest } = Astro.props;
---

<section class:list={['grid-item', className]} {...rest}>
    <slot />
</section>

<style>
    .grid-item {
        min-width: 0;
        box-sizing: border-box;
        overflow: hidden;
        padding: 18px;

        border-radius: 16px;
        background-color: var(--fondo-secundario);
        transition: all 0.4s ease-in-out;
        cursor: default;

        /* --- NEUMORFISMO INICIAL (Relieve Suave) --- */
        /* Reducción de 10px a 5px y de 20px a 10px */
        box-shadow:
            5px 5px 10px var(--sombra-oscura-fuerte),
            -5px -5px 10px var(--sombra-clara-suave);
    }

    .grid-item:hover,
    .grid-item:focus-within {
        /* --- NEUMORFISMO PROFUNDO (Hundimiento/Inset Más Sutil) --- */
        /* Reducción de 12px a 6px y de 24px a 12px */
        box-shadow:
            /* Sombra superior izquierda (Luz) */
            inset 6px 6px 12px var(--sombra-oscura-fuerte),
            /* Sombra inferior derecha (Oscuridad) */ inset -6px -6px 12px var(--sombra-clara-suave);
    }
</style>
