---
import '../styles/normalize.css';
import '../styles/theme.css';
import '@fontsource-variable/fira-code';
import '../styles/typography.css';
import '../styles/global.css';
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    body {
        width: 100%;
        min-height: 100vh;

        background-color: var(--fondo-principal);
        /* 游눠 Centrado vertical y horizontal del layout principal */
        display: grid;
        place-items: center;
    }

    /* 
     * Estilos Globales para el efecto Blur del Modal.
     * Se aplica solo al layout principal cuando el modal est치 activo.
    */
    body.modal-active .layout {
        transition: filter 0.3s ease-in-out;
        filter: blur(5px) grayscale(0.2);
        /* Deshabilitamos interacciones con el fondo */
        pointer-events: none;
    }

    .layout {
        /* Centrado autom치tico del contenedor principal */
        margin: 0 auto;
        max-width: 1440px; /* Ancho m치ximo de la pantalla */
        width: 100%; /* Ocupa el espacio disponible hasta el m치ximo */
        max-height: 100vh; /* Ocupa el espacio disponible hasta el m치ximo */

        padding: 8px; /* Mantiene un peque침o espacio para que los items no se peguen a los bordes */
        box-sizing: border-box; /* Asegura que el padding no aumente el tama침o total */

        display: grid;
        grid:
            'name name name about-me about-me about-me about-me about-me about-me theme-switcher photo photo' 0.5fr
            'contact-me contact-me contact-me about-me about-me about-me about-me about-me about-me theme-switcher photo photo' 1fr
            'technologies projects projects projects projects projects projects projects projects projects resource resource' 0.2fr
            'technologies projects projects projects projects projects projects projects projects projects resource resource' 1.5fr
            'technologies projects projects projects projects projects projects projects projects projects resource resource' 1fr
            'technologies projects projects projects projects projects projects projects projects projects resource resource' 1fr
            'technologies projects projects projects projects projects projects projects projects projects footer footer' 0.5fr
            / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1.3fr 0.7fr 1fr 1fr;
        gap: 14px;
    }

    .name {
        grid-area: name;
    }
    .about-me {
        grid-area: about-me;
    }
    .photo {
        grid-area: photo;
    }
    .contact-me {
        grid-area: contact-me;
    }
    .theme-switcher {
        grid-area: theme-switcher;
    }
    .resource {
        grid-area: resource;
    }
    .technologies {
        grid-area: technologies;
    }
    .projects {
        grid-area: projects;
    }
    .footer {
        grid-area: footer;
    }
</style>
